.header {
    min-height: 100vh;
}

.header__top {
    position: relative;
    padding: 28px 0 13px;
}

.header__top::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.navbar {
    margin-left: auto;
    margin-right: 69px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    display: inline-block;
    padding: 0 19px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
}

.navbar__link:hover {
    color: var(--primary-color-black);
}

.nav__link--active::after {
    content: "";
    display: block;
    position: relative;
    bottom: -25px;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.hero__content {
    margin-top: 43px;
    max-width: 33%;
    position: relative;
}

.hero__title {
    font-family: "Public Sans";
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
}

.hero__cta {
    margin-top: 42px;
}

.hero-playvd {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 36px;
    border: none;
    background: transparent;
    color: var(--primary-color-black);
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
}

.hero-playvd__icon {
    display: flex;
}

.hero-playvd__icon::before {
    content: "";
    width: 57px;
    height: 57px;
    margin-right: -55px;
    border: 4px solid transparent;
    border-left-color: var(--primary-color-black-green);
    border-bottom-color: var(--primary-color-black-green);
    border-radius: 50%;
    display: block;
    position: relative;
    transform: rotate(45deg);
}

.hero__media {
    position: relative;
    margin-right: 25px;
    max-width: 56.67%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__media::before {
    content: "";
    display: block;
    position: absolute;
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    z-index: 1;
    width: 100%;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__decor-top {
    top: -69px;
    right: 42px;
}

.hero__decor-bottom {
    bottom: -37px;
    right: 12px;
}

/* Brand */
.brand {
    margin-top: 42px;
}

.brand__wrap {
    justify-content: space-between;
    padding: 76px 122px;
    border-radius: 999px;
    background: var(--secondary-color-light-green);
}

.brand__img:nth-child(3) {
    margin-right: -47px;
}

/* Service */

.service {
    margin-top: 105px;
}

.service__info {
    margin-top: 12px;
    justify-content: space-between;
}

.service__heading {
    max-width: 520px;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item:hover .service-item__wrap {
    padding: 24px 84px 24px 18px;
    border-radius: 0 0 20px 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__thumb {
    display: block;
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__wrap {
    padding: 24px 84px 24px 0;
}

.service-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    line-height: 1.71;
}

/* About */

.about {
    margin-top: 149px;
}

.about__inner {
    align-items: flex-start;
    justify-content: space-between;
}

.about-media {
    max-width: 51%;
    position: relative;
}

.about-media__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
    flex-shrink: 0;
}

.about-media__img {
    margin-top: 13px;
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-media__img:first-child {
    margin-top: 90px;
}

.about-aside {
    position: absolute;
    bottom: 8px;
    right: -9px;
    width: 143px;
    padding: 19px 23px 11px;
    font-family: "Public Sans", sans-serif;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-aside__heading {
    color: var(--primary-color-black);

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-aside__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    line-height: 1.4;
}

.about-aside__percent {
    margin-top: 10px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-aside__chart {
    margin: 3px 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-aside__chart::before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-aside__stt {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: end;
}

.about-aside__team {
    display: flex;
    margin-top: 19px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-aside__team-avt {
    margin-left: auto;
}

.about-aside__team-img {
    margin-right: -6px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 50%;
}

.about__decor {
    left: 46px;
    top: -18px;
}

.about__content {
    max-width: 42.5%;
}

.about__heading {
    margin-top: 20px;
}

.about__heading::after {
    display: none;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about-text__wrap {
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.about__percent {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about-text__content {
    width: 364px;
}

/* Process */

.process {
    margin-top: 79px;
    padding: 36px 0 28px;
}

.process__heading {
    margin-top: 20px;
    width: 495px;
}

.process__list {
    margin-top: 81px;
    counter-reset: section;
}

.process-item::before {
    counter-increment: section;
    content: "0" counter(section) ".";
    display: inline-block;
    color: var(--primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item:first-child {
    padding: 57px 30px;
    background: var(--secondary-color-light-green);
    border-radius: 33px;
    column-gap: 64px;
    border-bottom: transparent;
    position: relative;
}

.process-item {
    display: grid;
    align-items: center;
    padding: 46px 20px 21px;
    grid-template-columns: 0.2fr 0.5fr 1fr;
    column-gap: 49px;
    border-bottom: 1px solid #83a17d;
}

.process-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    position: absolute;
    margin-top: 22px;
    display: inline-block;
    text-decoration: underline;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1;
    text-underline-offset: 3px;
}

.process-item__more:hover {
    color: var(--primary-color-black);
    text-decoration: underline;
}

.process-item__desc {
    color: var(--text-color-light-gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.process-item__thumb {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* Project */

.project {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(--primary-color-black-green);
}

.project__content {
    justify-content: space-between;
}

.project__heading {
    color: #fff;
    max-width: 457px;
}

.project__heading::after {
    background: var(--secondary-color-blue);
}

.project__info {
    max-width: 565px;
}

.project__desc {
    color: var(--secondary-color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.555;
}
.project__more {
    display: inline-block;
    margin-top: 13px;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.555;
}

.project__more-icon {
    margin-left: 26px;
    color: #80a07b;
}

.project__media {
    margin-top: 65px;
    position: relative;
}

.project__video {
    display: block;
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.project__video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.698);
    border: none;
}

/* feature */

.feature {
    margin-top: 140px;
}

.feature__heading {
    margin: 0 auto;
    width: 520px;
    text-align: center;
}

.feature__heading::after {
    display: none;
}

.feature__desc {
    margin: 20px auto 0;
    width: 547px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    text-align: center;
    padding: 80px 23px 74px;
    border-radius: 160px;
    background: #fff;
    border: 1.5px solid #cecece;
    transition: ease 0.25s;
}

.feature-item:hover {
    transform: translateY(-60px);
    border: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc {
    margin-top: 9px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* Blog */

.blog {
    margin-top: 184px;
}

.blog__info {
    margin-top: 10px;
    justify-content: space-between;
}

.blog__heading {
    width: 575px;
}

.blog__desc {
    width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
}
.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item:hover {
    border-radius: 40px 40px 20px;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__stt {
    color: var(--secondary-color-light-green);
    background: var(--primary-color-black-green);
}

.blog-item__thumb {
    display: block;
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog-item__content {
    border-radius: 0 0 20px 20px;
    padding: 26px 16px 12px;
    background: #fff;
}

.blog-item__stt {
    --height: 26px;
    display: block;
    width: 107px;
    height: var(--height);
    border-radius: 20px;
    background: var(--secondary-color-light-green);
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: var(--height);
}

.blog-item__title {
    margin-top: 13px;
    color: var(--primary-color-black-green);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.666;
}

.blog-item__date::before {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    height: 1px;
    width: 100%;
    background: #c4c4c4;
}

.blog-item__date {
    position: relative;
    top: 0;
    display: block;
    text-align: end;
    margin-top: 38px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

/* footer */

.footer {
    margin-top: 102px;
    padding-top: 72px;
    background: var(--primary-color-black-green);
}

.footer__heading {
    color: var(--text-color-white);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    display: inline-block;
    margin-top: 15px;
    border-bottom: 1px solid var(--secondary-color-gray);
}

.footer-form__input {
    width: 300px;
    padding: 10px 0 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 2.2rem;
}

.footer-form__input::placeholder {
    color: var(--secondary-color-gray);
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-form__submit {
    padding: 10px 16px;
    border: none;
    outline: none;
    background: transparent;
    color: #c4c4c4;
}

.footer-form__submit:hover {
    color: var(--primary-color-black);
    cursor: pointer;
}

.footer-social {
    margin-top: 47px;
    display: flex;
    gap: 22px;
}

.footer-social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    color: #fff;
}

.footer-social__icon:hover {
    background: #a75325;
    border: transparent;
}

.footer__content {
    margin-left: auto;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer__title {
    margin-bottom: 24px;
    color: var(--text-color-white);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.footer-item {
    margin: 18px 0;
}

.footer-item__link {
    color: var(--secondary-color-gray);
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
}

.separation {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(14deg, #143C3C 0%, #295A5A 53.48%, rgba(38, 82, 82, 0.00) 100%);
}

.copyright {
    padding: 25px 0;
    color: var(--secondary-color-gray);
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}